{% extends "home.html" %}

{% block title %} Chart {% endblock %}

{% block content %}
<div class="grid-container">
{{stuff|safe}}
<br><br>
<form action="/chart" method="POST">
  Start Date:<br>
  <input type="date" name="start"
       value="2018-01-14"
	 min="2018-01-14">
  <br>
  End Date:<br>
  <input type="date" name="end"
	 min="2018-01-14">
  <input type="submit">
  
</form>

<br>

<div class="grid-x grid-padding-x">
    <div class="cell small-4 large-4"><div class="card">
	<div class="card-divider">
	  <h4><a href="/prices">Prices </a></h4>
	</div>

    </div></div>
    <div class="cell small-4 large-4"><div class="card">
	<div class="card-divider">
	  <h4><a href="#">Exchange </a></h4>
	</div>

    </div></div>
    <div class="cell small-4 large-4"><div class="card">
	<div class="card-divider">
	  <h4><a href="#">Candlesticks </a></h4>
	</div>
    </div></div>
  </div>

</div>
{% endblock %}
