{% extends "home.html" %}

{% block title %} Exchanges {% endblock %}

{% block content %}

<div class="grid-container">

  
  {% if not exch_picked %}
  <form action="/exchanges" method="GET">
	  Exchanges:
	  <select name="exchange">
		{% for exchange in exchanges %}
		<option value={{exchange}}>{{exchange}}</option>
		{% endfor %}
	  </select>
	  <input class="button" type="submit">
  </form>
  {% endif %}

  {% if exch_picked %}
  <form action="/chart" method="GET">
	  Market:
	  <select name="market">		  
		  {% for market in markets %}
			<option value={{market}}>{{market}}</option>
		  {% endfor %}
	  </select>
  
	  Start Date:<br>
	  <input type="date" name="start" min="2018-01-14">

	  End Date:<br>
	  <input type="date" name="end" min="2018-01-16">
	  <input type="hidden" name="exchange" value={{ exchange_chosen }}>
	  <input class="button" type="submit">
  </form>
  {% endif %}

  
</div>

{% endblock %}
