<!DOCTYPE html>
<html lang="en" >
  <head>

    <!-- foundation -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      CryptUwU |
      {% block title %}
      {% endblock %}
    </title>

    
    <!--<link rel="stylesheet" href="css/app.css">    <!-- for custom css -->
    <!--<link rel="stylesheet" href="js/app.css">    <!-- for custom js -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.css"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>

    
    
  </head>
  <body>
    {% block content %}
        
    {% endblock %}

    <div id="footer" class="grid-x">
      <div class="cell footer">
      {% block footer %}
      <h6 class="text-right" &copy; Copyright 2018 by Nahasapeemapetilon</h6>
      {% endblock %}
      </div>
    </div>
  </body>
</html>
