{% extends "forum.html" %}

{% block title %} {{ threadname }} {% endblock %}

{% block content %}

<div class="grid-container">
  <div class="table-scroll">
<table class="hover">
  <thead><tr>
      <th> User </th><th> Post </th><th> Time </th><th> Upvotes </th>
      <th> Comment</th><th> Upvote</th> 
  </tr></thead>
  <tbody>
    
    <!-- posts=[[user, post, timestamp, upvotes,<id>],[etc]]-->
    {% for post in posts %}
    <tr>
      <td>{{post[0]}}</td><td>{{post[1]}}</td>
      <td>{{post[2]}}</td><td>{{post[3]}}</td>
      <td> <p><button class="button" data-open="addPost"> Comment</button></p>
	<div class="reveal" data-toggle="addPost" id="addPost" data-reveal>
	  <form action="/addPost" method="POST">
	    <textarea  wrap="hard" name="post">{{post[0]}}:</textarea>
	    <input class="button" name="submit" type="submit">
	  </form>
	</div>
      </td>
      <td><form action="#" method="POST">
	  <button value={{post[5]}} name="upvote">Upvote</button> 
      </form></td>
    </tr>

    {% endfor %}
    
  </tbody>
  
</table>
</div>
</div>

{% endblock %}

